<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Triangle area calculator</title>
</head>
<body>
<h1>Triangle area calculator</h1>
<form action="/calculate" method="post">
<label for="side a ">side a:</label>
    <input type="text" name="side_a" required><br>
    <label for="side b ">side b:</label>
    <input type="text" name="side_b" required><br>
    <label for="side c ">side c:</label>
    <input type="text" name="side_c" required><br>
    <input type="submit" value="Calculate">
</form>
</body>
</html>
